<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:couchdb="http://www.ektorp.org/schema/couchdb"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
      http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util-3.1.xsd
      http://www.ektorp.org/schema/couchdb http://www.ektorp.org/schema/couchdb/couchdb.xsd">

	<!-- the application context definition for the springapp DispatcherServlet -->
	<!-- Scans within the base package of the application for @Components to 
		configure as beans -->
	<!-- @Controller, @Service, @Configuration, etc. -->

	<context:component-scan base-package="au.org.housing.start" />
	<context:component-scan base-package="au.org.housing.controller" />
	<context:component-scan base-package="au.org.housing.service" />
	<context:component-scan base-package="au.org.housing.model" />

	<mvc:resources location="/resources/" mapping="/resources/**" />
	<mvc:resources location="/lib/" mapping="/lib/**" />

	<context:annotation-config />

	<mvc:annotation-driven />
	<!-- <mvc:resources mapping="/resources/**" location="classpath:resources"/> -->

	<util:properties id="couchdbProperties" location="classpath:/couchdb.properties" />
	<couchdb:database id="housing_database" name="housing_database"
		url="http://localhost:5984" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- <property name="prefix" value="/WEB-INF/jsp/" /> -->
		<property name="prefix" value="/ui-jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- <bean id="housingHandler" class="au.org.housing.controller.HousingController" 
		/> -->
	<!-- <bean id="housingService" class="au.org.housing.service.impl.TransportationBufferServiceImpl" 
		/> -->
	<bean id="housingModel" class="au.org.housing.model.Parameter" />



</beans>